.container {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.sidebar {
  display: flex;
  min-width: 300px;
  width: 300px;
  flex-shrink: 0;
  z-index: 100;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
}

.body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .sidebar {
    display: none !important;
    width: 0 !important;
    min-width: 0 !important;
  }
}
